/**
 * @name Cyan
 * @description Sleek and clean, with custom background support
 * @author DaBluLite#7409
 * @authorId 582170007505731594
 * @version 5.0.0
 * @updateUrl https://dablulite.github.io/Cyan/Cyan.theme.css
 * @source https://github.com/DaBluLite/Cyan
 */

/*
Huge thanks to all the contributors of this project!

		    Contributors
====================================================
=						   =
=						   =
=  Custom Icons: Obscure-Git and Lavender-Discord  =
=        Darkened color scheme: maenDisease        =
=               Code cleanup: lucism               =
=        Additional code and help by carrot        =
=						   =
=						   =
====================================================
*/
 
@import url(https://dablulite.github.io/Cyan/import.css);
:root {
	--cyan-background-primary: hsla(0deg 0% var(--cyan-background-lightness) / 40%);
	--cyan-elevation-shadow: 0 0 0 1px rgba(180,180,180,.4), 0 2px 10px 0 rgb(0 0 0 / 60%);
	--cyan-font: 'Open Sans';
	--cyan-background-img: url(https://dablulite.github.io/Cyan/background-dark.jpg);
	--window-margin: 10;
	--window-border-radius: 8px;
	--cyan-accent-color: #009f88;
	--cyan-blur-radius: 0;
	--cyan-status-mask-background: var(--profile-body-background-color);
}
