/**
 * @name Cyan
 * @description Sleek and clean, with custom background support
 * @author DaBluLite#7409
 * @authorId 582170007505731594
 * @version 4.0.1
 * @updateUrl https://dablulite.github.io/Cyan/Cyan.theme.css
 * @source https://github.com/DaBluLite/Cyan
 */
 
@import url(https://dablulite.github.io/Cyan/import.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url("https://lavender-discord.github.io/Lavender/modules/addons/colored-svgs.css");
@import url("https://lavender-discord.github.io/Lavender/modules/addons/context-icons.css");
@import url("https://lavender-discord.github.io/Lavender/modules/addons/mention-links.css");
@import url("https://lavender-discord.github.io/Lavender/modules/addons/settings-icons.css");
@import url("https://lavender-discord.github.io/IconsaxDiscord/theme.css");
.theme-dark {
	--cyan-background-primary: rgba(40,40,40,.4);
	--cyan-background-secondary: var(--background-floating);
	--cyan-background-tertiary: var(--background-primary);
	--cyan-background-elevated: var(--background-floating);
	--cyan-background-floating: var(--background-floating);
	--cyan-elevation-shadow: 0 0 0 1px rgba(180,180,180,.4), 0 2px 10px 0 rgb(0 0 0 / 60%);
	--cyan-font: 'Open Sans';
	--cyan-background-img: url(https://dablulite.github.io/Cyan/background-dark.jpg);
	--window-margin: 10;
	--window-border-radius: 8px;
    	--window-border-radius-calc: calc(min(1, var(--window-margin)) * var(--window-border-radius));
	--cyan-accent-color: #009f88;
}
.theme-light {
	--cyan-background-primary: rgba(180,180,180,.4);
	--cyan-background-secondary: var(--background-floating);
	--cyan-background-tertiary: var(--background-primary);
	--cyan-background-elevated: var(--background-floating);
	--cyan-background-floating: var(--background-floating);
	--cyan-elevation-shadow: 0 0 0 1px rgba(30,30,30,.3), 0 2px 10px 0 rgb(0 0 0 / 60%);
	--cyan-font: 'Open Sans';
	--cyan-background-img: url(https://dablulite.github.io/Cyan/background-light.jpg);
	--window-margin: 10;
	--window-border-radius: 8px;
    	--window-border-radius-calc: calc(min(1, var(--window-margin)) * var(--window-border-radius));
	--cyan-accent-color: #009f88;
}
