/**
 * @name Nexus
 * @description A cleaner, darker interface for Discord
 * @author DaBluLite
 * @version 3.0.0
 */
 
@import url("https://raw.githubusercontent.com/DaBluLite/Nexus/master/import.css");
:root {
	--background-primary-nexus: var(--background-primary);
	--background-secondary-nexus: var(--background-secondary);
	--background-tertiary-nexus: var(--background-tertiary);
	--background-floating-nexus: var(--background-floating);
}
