/**
 * @name Nexus
 * @description A cleaner, darker interface for Discord
 * @author DaBluLite
 * @version 12.0.0
 */
 
@import url(https://dablulite.github.io/Nexus/import.css);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
:root {
	--nexus-background-primary: var(--background-tertiary);
	--nexus-background-secondary: var(--background-floating);
	--nexus-background-tertiary: var(--background-primary);
	--nexus-background-elevated: var(--background-floating);
	--nexus-background-floating: var(--background-floating);
	--nexus-elevation-shadow:    0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgb(0 0 0 / 20%);
	--nexus-font: 'Open Sans';
}
