/**
 * @name Nexus
 * @description A cleaner, darker interface for Discord
 * @author DaBluLite
 * @version 6.0.0
 */
 
@import url(https://dablulite.github.io/Nexus/import.theme.css);
:root {
	--nexus-background-primary: var(--background-tertiary);
	--nexus-background-secondary: var(--background-floating);
	--nexus-background-tertiary: var(--background-primary);
	--nexus-background-elevated: var(--background-floating);
}
