@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://dablulite.github.io/CyanBootstrapIcons/import.css");
:root {
    --cyan-background-primary-alt: var(--cyan-background-primary);
    --cyan-background-secondary: var(--background-floating);
    --background-lightness: -0.4;
    --window-border-radius-calc: calc(
        min(1, var(--window-margin)) * var(--window-border-radius)
    );
    --cyan-glass-foreground: #FFFFFF;
    --cyan-version: 17;
  --cyan-subversion: 0;
  --cyan-patch-version: 0;
  --cyan-text-shadow: 0;
  --cyan-blur-secondary: 0;
  --cyan-background-primary-alt: var(--cyan-background-primary);
  --cyan-channelbar-width: 320px;
  --brand-100: color-mix(in srgb, white calc(3.6% * 12), var(--cyan-accent-color));
  --brand-130: color-mix(in srgb, white calc(3.6% * 11), var(--cyan-accent-color));
  --brand-160: color-mix(in srgb, white calc(3.6% * 10), var(--cyan-accent-color));
  --brand-200: color-mix(in srgb, white calc(3.6% * 9), var(--cyan-accent-color));
  --brand-230: color-mix(in srgb, white calc(3.6% * 8), var(--cyan-accent-color));
  --brand-260: color-mix(in srgb, white calc(3.6% * 7), var(--cyan-accent-color));
  --brand-300: color-mix(in srgb, white calc(3.6% * 6), var(--cyan-accent-color));
  --brand-330: color-mix(in srgb, white calc(3.6% * 5), var(--cyan-accent-color));
  --brand-360: color-mix(in srgb, white calc(3.6% * 4), var(--cyan-accent-color));
  --brand-400: color-mix(in srgb, white calc(3.6% * 3), var(--cyan-accent-color));
  --brand-430: color-mix(in srgb, white calc(3.6% * 2), var(--cyan-accent-color));
  --brand-460: color-mix(in srgb, white 3.6%, var(--cyan-accent-color));
  --brand-500: var(--cyan-accent-color);
  --brand-530: color-mix(in srgb, black 3.6%, var(--cyan-accent-color));
  --brand-560: color-mix(in srgb, black calc(3.6% * 2), var(--cyan-accent-color));
  --brand-600: color-mix(in srgb, black calc(3.6% * 3), var(--cyan-accent-color));
  --brand-630: color-mix(in srgb, black calc(3.6% * 4), var(--cyan-accent-color));
  --brand-660: color-mix(in srgb, black calc(3.6% * 5), var(--cyan-accent-color));
  --brand-700: color-mix(in srgb, black calc(3.6% * 6), var(--cyan-accent-color));
  --brand-730: color-mix(in srgb, black calc(3.6% * 7), var(--cyan-accent-color));
  --brand-760: color-mix(in srgb, black calc(3.6% * 8), var(--cyan-accent-color));
  --brand-800: color-mix(in srgb, black calc(3.6% * 9), var(--cyan-accent-color));
  --brand-830: color-mix(in srgb, black calc(3.6% * 10), var(--cyan-accent-color));
  --brand-860: color-mix(in srgb, black calc(3.6% * 11), var(--cyan-accent-color));
  --brand-900: color-mix(in srgb, black calc(3.6% * 12), var(--cyan-accent-color));
  --brand-experiment-05a: color-mix(in srgb, transparent 95%, var(--cyan-accent-color));
  --brand-experiment-10a: color-mix(in srgb, transparent 90%, var(--cyan-accent-color));
  --brand-experiment-15a: color-mix(in srgb, transparent 85%, var(--cyan-accent-color));
  --brand-experiment-20a: color-mix(in srgb, transparent 80%, var(--cyan-accent-color));
  --brand-experiment-25a: color-mix(in srgb, transparent 75%, var(--cyan-accent-color));
  --brand-experiment-30a: color-mix(in srgb, transparent 70%, var(--cyan-accent-color));
  --brand-experiment-35a: color-mix(in srgb, transparent 65%, var(--cyan-accent-color));
  --brand-experiment-40a: color-mix(in srgb, transparent 60%, var(--cyan-accent-color));
  --brand-experiment-45a: color-mix(in srgb, transparent 55%, var(--cyan-accent-color));
  --brand-experiment-50a: color-mix(in srgb, transparent 50%, var(--cyan-accent-color));
  --brand-experiment-55a: color-mix(in srgb, transparent 45%, var(--cyan-accent-color));
  --brand-experiment-60a: color-mix(in srgb, transparent 40%, var(--cyan-accent-color));
  --brand-experiment-65a: color-mix(in srgb, transparent 35%, var(--cyan-accent-color));
  --brand-experiment-70a: color-mix(in srgb, transparent 30%, var(--cyan-accent-color));
  --brand-experiment-75a: color-mix(in srgb, transparent 25%, var(--cyan-accent-color));
  --brand-experiment-80a: color-mix(in srgb, transparent 20%, var(--cyan-accent-color));
  --brand-experiment-85a: color-mix(in srgb, transparent 15%, var(--cyan-accent-color));
  --brand-experiment-90a: color-mix(in srgb, transparent 10%, var(--cyan-accent-color));
  --brand-experiment-95a: color-mix(in srgb, transparent 5%, var(--cyan-accent-color));
  --window-titlebar-size: 0px;
  --mention-background: var(--brand-experiment-30a);
}
.platform-win,
.platform-osx {
    --window-titlebar-size: 22px;
}
.theme-dark {
  --background-primary: hsl(
    220,
    8%,
    calc(23% * (1 + var(--background-lightness)))
  );
  --background-secondary: hsl(
    223,
    7%,
    calc(20% * (1 + var(--background-lightness)))
  );
  --background-secondary-alt: hsl(
    220,
    7%,
    calc(17% * (1 + var(--background-lightness)))
  );
  --background-tertiary: hsl(
    216,
    7%,
    calc(14% * (1 + var(--background-lightness)))
  );
  --background-accent: hsl(
    217,
    8%,
    calc(34% * (1 + var(--background-lightness)))
  );
  --background-floating: hsl(
    225,
    8%,
    calc(10% * (1 + var(--background-lightness)))
  );
  --background-nested-floating: hsl(
    223,
    7%,
    calc(20% * (1 + var(--background-lightness)))
  );
  --background-mobile-primary: hsl(
    220,
    8%,
    calc(23% * (1 + var(--background-lightness)))
  );
  --background-mobile-secondary: hsl(
    223,
    7%,
    calc(20% * (1 + var(--background-lightness)))
  );
  --chat-background: hsl(
    220,
    8%,
    calc(23% * (1 + var(--background-lightness)))
  );
  --chat-border: hsl(216, 7%, calc(14% * (1 + var(--background-lightness))));
  --chat-input-container-background: hsl(
    220,
    8%,
    calc(23% * (1 + var(--background-lightness)))
  );
  --channeltextarea-background: hsl(
    218,
    8%,
    calc(27% * (1 + var(--background-lightness)))
  );
  --cyan-background-lightness: 16%;
  --cyan-secondary-foreground: #FFFFFF;
}
.theme-light {
  --cyan-background-lightness: 71%;
  --cyan-secondary-foreground: #000000;
}
html,
body {
  font-family: var(--cyan-font), "gg sans", "Noto Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif !important;
  --font-primary: var(--cyan-font), "gg sans", "Noto Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  --font-display: var(--cyan-font), "gg sans", "Noto Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-variant: no-common-ligatures;
  background-color: transparent;
}
.guilds-2JjMmN {
    background-color: transparent;
    margin: calc(var(--window-margin) * 1px);
    margin-right: 0;
    margin-top: calc((var(--window-margin) * 1px) + var(--window-titlebar-size));
}
.sidebar-1tnWFu,
.chat-2ZfjoI {
    background-color: transparent;
    margin: calc(var(--window-margin) * 1px);
    margin-left: 0;
}
.sidebar-1tnWFu {
    width: var(--cyan-channelbar-width);
    border-radius: 0 !important;
    margin-top: calc((var(--window-margin) * 1px) + var(--window-titlebar-size));
}
.chat-2ZfjoI,
.chat-2ZfjoI .chatContent-3KubbW,
.chat-2ZfjoI .container-2o3qEW,
.member-48YF_l,
.members-3WRCEx,
.theme-dark .container-1NXEtd,
.theme-light .container-1NXEtd,
.theme-dark .scroller-WSmht3,
.theme-light .scroller-WSmht3,
.privateChannels-oVe7HL,
.theme-dark .container-YkUktl,
.theme-light .container-YkUktl,
.container-1zzFcN,
.contentRegionScroller-2_GT_N,
.contentRegion-3HkfJJ,
.sidebarRegion-1VBisG,
.sidebarRegionScroller-FXiQOh,
.standardSidebarView-E9Pc3j,
.layer-86YKbF {
    background: none;
}
.bg-1QIAus,
.layer-86YKbF {
    background: var(--cyan-background-img);
}
.standardSidebarView-E9Pc3j {
    background-color: var(--cyan-background-primary);
    backdrop-filter: blur(var(--cyan-blur-radius));
}
.container-1eFtFS::before {
    content: "";
    position: absolute;
    top: calc((var(--window-margin) * 1px) + var(--window-titlebar-size));
    left: calc(var(--window-margin) * 1px);
    height: calc(100% - (var(--window-margin) * 2px) - var(--window-titlebar-size));
    width: calc(var(--cyan-channelbar-width) + 72px);
}
.chat-2ZfjoI,
.container-1eFtFS::before {
    background: var(--cyan-background-primary);
    box-shadow: var(--cyan-elevation-shadow);
    border-radius: var(--window-border-radius-calc) !important;
    backdrop-filter: blur(var(--cyan-blur-radius));
}
.container-1eFtFS::before {
    background: var(--cyan-background-primary-alt);
}
.panels-3wFtMD {
    margin: calc(var(--window-margin) * 1px);
    margin-top: 0;
    box-shadow: var(--cyan-elevation-shadow);
    border-radius: var(--window-border-radius-calc);
    background: var(--cyan-background-secondary);
}
.form-3gdLxP:before,
.children-3xh0VB:after,
.content-1jQy2l:before,
.libraryHeader-2loraV:before {
  display: none;
}
.typing-2J1mQU {
  position: initial;
  margin-bottom: calc(var(--window-margin) * 1px);
  background-color: transparent;
  width: fit-content !important;
  box-shadow: none !important;
  padding-right: 7px;
}
.form-3gdLxP {
  background-color: transparent !important;
  padding: 0 calc(var(--window-margin) * 1px) 0 calc(var(--window-margin) * 1px) !important;
  width: calc(100% - ((var(--window-margin) * 1px) * 2)) !important;
  margin-top: 0;
}
.scroller-kQBbkU::-webkit-scrollbar-track {
  background-color: var(--cyan-background-primary) !important;
}
.scroller-kQBbkU::-webkit-scrollbar-thumb {
  background-color: var(--cyan-background-secondary);
  border-radius: 10px;
}
.searchBar-3TnChZ,
.header-3OsQeK {
  box-shadow: none;
}
.channelTextArea-1VQBuV {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: calc(var(--window-margin) * 1px);
}
.scrollerSpacer-3AqkT9 {
    height: 15px;
}
.wrapper-2PSQCG {
    box-shadow: 0 0 0 1.5px var(--cyan-background-primary), 0 2px 10px 0 rgb(0 0 0 / 60%);
    border-radius: 50%;
    transition: box-shadow .15s ease-out;
    background-color: var(--cyan-background-secondary);
}
.wrapper-2PSQCG:hover {
    box-shadow: var(--cyan-elevation-shadow);
}
.childWrapper-1j_1ub {
    background: none !important;
    transition: none;
}
.childWrapper-1j_1ub {
    color: var(--cyan-secondary-foreground);
}
.panels-3wFtMD .container-YkUktl .button-12Fmur {
  width: 100%;
  border-radius: var(--window-border-radius) !important;
  margin: 0 4px;
  transition: all 0.2s ease-in-out;
}
.panels-3wFtMD .container-YkUktl .flex-2S1XBF {
  width: 100% !important;
  float: left !important;
  height: 32px;
  max-width: unset !important;
  justify-content: center !important;
  margin: 0;
  margin-bottom: -40px;
  flex: 0 1 auto !important;
  padding: 4px 0;
  animation: hideUserArea 0.2s ease;
}
@keyframes hideUserArea {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: -40px;
  }
}
@keyframes showUserArea {
  0% {
    margin-bottom: -40px;
  }
  100% {
    margin-bottom: 0px;
  }
}

@keyframes userAreaAccount {
  0% {
    background-color: transparent;
    box-shadow: none;
  }
  100% {
    background: var(--cyan-background-secondary);
    box-shadow: var(--cyan-elevation-shadow);
  }
}
@keyframes userAreaAccountReverse {
  0% {
    background: var(--cyan-background-secondary);
    box-shadow: var(--cyan-elevation-shadow);
  }
  100% {
    background: transparent;
    box-shadow: none;
  }
}
.panels-3wFtMD .avatarWrapper-1B9FTW {
  width: calc(100% - 10px);
  max-width: unset;
  float: left;
  padding: 7px;
  border-radius: var(--window-border-radius) !important;
  margin: 0;
  position: relative;
  background-color: transparent;
  box-shadow: none;
  animation: userAreaAccountReverse 0.2s ease;
}
.panels-3wFtMD .avatarWrapper-1B9FTW:hover {
  animation: userAreaAccount 0.2s ease;
  box-shadow: var(--cyan-elevation-shadow);
  background: var(--cyan-background-secondary);
}
.panels-3wFtMD .container-YkUktl {
  display: flex;
  flex-direction: column;
  padding: calc(min(1px, var(--window-border-radius)) * 8);
  height: fit-content;
  overflow: hidden;
}
#app-mount .panels-3wFtMD:hover .container-YkUktl .flex-2S1XBF {
  animation: showUserArea 0.2s ease;
  margin-bottom: 0;
}
.panels-3wFtMD .wrapper-3Hk9OB:empty {
  display: none;
}
.panels-3wFtMD .wrapper-3Hk9OB:not(:empty) {
  animation: animbottom 0.4s ease;
}
.panels-3wFtMD .container-YkUktl .button-12Fmur:hover,
.interactiveSelected-29CP8y,
.interactive-iyXY_x:hover,
.modeSelected-3DmyhH .link-1_kTxV,
.modeSelected-3DmyhH:hover .link-1_kTxV,
.wrapper-NhbLHG:hover .link-1_kTxV {
  box-shadow: var(--cyan-elevation-shadow);
  background-color: var(--cyan-background-secondary);
}
.bannerImage-ubW8K-,
.bannerImg-2PzH6z {
    width: var(--cyan-channelbar-width);
}
.interactive-iyXY_x,
.link-1_kTxV {
    border-radius: 8px;
    transition: .2s;
    color: var(--cyan-glass-foreground);
}
.link-1_kTxV .name-28HaxV,
.link-1_kTxV .icon-2W8DHg,
.container-q97qHp,
.markup-eYLPri,
.standardSidebarView-E9Pc3j .eyebrow-1Shfyi {
    color: var(--cyan-glass-foreground);
    transition: .2s;
}
.interactive-iyXY_x:hover,
.interactiveSelected-29CP8y,
.modeSelected-3DmyhH .link-1_kTxV .name-28HaxV,
.modeSelected-3DmyhH:hover .link-1_kTxV .name-28HaxV,
.wrapper-NhbLHG:hover .link-1_kTxV .name-28HaxV,
.modeSelected-3DmyhH .link-1_kTxV .icon-2W8DHg,
.modeSelected-3DmyhH:hover .link-1_kTxV .icon-2W8DHg,
.wrapper-NhbLHG:hover .link-1_kTxV .icon-2W8DHg {
    color: var(--cyan-secondary-foreground);
}
.container-32HW5s {
    width: 100%;
    max-width: calc(var(--cyan-channelbar-width) - 8px);
    box-sizing: border-box;
    padding-right: 12px;
}
.container-ZMc96U {
    margin: calc(var(--window-margin) * 1px);
    margin-bottom: 0;
    box-shadow: var(--cyan-elevation-shadow);
    background-color: var(--cyan-background-secondary) !important;
    border-radius: var(--window-border-radius-calc);
    width: calc(100% - (var(--window-margin) * 2px));
}
.animatedContainer-2laTjx {
    box-shadow: var(--cyan-elevation-shadow);
    background-color: var(--cyan-background-secondary) !important;
    border-radius: var(--window-border-radius-calc);
    margin: calc(var(--window-margin) * 1px);
    width: calc(100% - (var(--window-margin) * 2px));
}
.header-3OsQeK {
    border-radius: var(--window-border-radius-calc);
    margin: calc(var(--window-margin) * 1px);
    width: calc(100% - (var(--window-margin) * 2px));
    transition: .2s;
    box-shadow: var(--cyan-elevation-shadow);
    background-color: var(--cyan-background-secondary);
}
.hasBanner-2IrYih .header-3OsQeK {
    box-shadow: none;
    background-color: transparent;
}
.scrollableContainer-15eg7h {
  background: transparent !important;
}
.slateTextArea-27tjG0 {
  padding-left: 10px !important;
}
.textArea-2CLwUE {
  box-shadow: var(--light-elevation-border);
  border-radius: 8px;
  transition: 0.2s;
}
.textArea-2CLwUE:has(:focus) {
  box-shadow: var(--cyan-elevation-shadow);
  background-color: var(--cyan-background-secondary);
  backdrop-filter: blur(var(--cyan-blur-secondary));
}
@keyframes animBoxShadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: var(--cyan-elevation-shadow);
  }
}
@keyframes animBoxShadowReverse {
  to {
    box-shadow: none;
  }
  from {
    box-shadow: var(--cyan-elevation-shadow);
  }
}
.toolbar-3_r2xA > .iconWrapper-2awDjA,
.toolbar-3_r2xA > .recentsIcon-F3eO1o > .iconWrapper-2awDjA,
.toolbar-3_r2xA .iconWrapper-2awDjA {
  animation: animBoxShadowReverse .15s ease;
  border-radius: 8px;
  padding: 6px;
  display: inline-flex;
  height: 36px;
  margin: 0;
  box-shadow: none;
  will-change: box-shadow;
}
.toolbar-3_r2xA > .iconWrapper-2awDjA:hover,
.toolbar-3_r2xA > .recentsIcon-F3eO1o > .iconWrapper-2awDjA:hover,
.toolbar-3_r2xA .iconWrapper-2awDjA:hover {
  box-shadow: var(--cyan-elevation-shadow);
  animation: animBoxShadow .15s ease;
}
.toolbar-3_r2xA {
  gap: 6px;
}
.iconBadge-3Mmg92 {
  background-color: var(--cyan-accent-color);
}
.inner-NQg18Y {
  padding: 4px;
}
.attachButton-1ijpt9 {
  padding: 10px;
  margin: 0 8px;
  margin-left: 4px;
  border-radius: 8px;
  transition: 0.2s;
}
.attachButton-1ijpt9:hover {
  box-shadow: var(--cyan-elevation-shadow);
  background-color: var(--cyan-background-secondary);
}
.buttons-uaqb-5 > button:hover,
.buttons-uaqb-5 > div:hover,
.buttons-uaqb-5 > button:active,
.buttons-uaqb-5 > div:active {
  background-color: var(--cyan-background-secondary) !important;
}
.webkit-QgSAqd .buttons-uaqb-5 {
  margin-right: 2px !important;
  margin-left: 8px;
  margin-top: 0;
  height: 44px;
  gap: 4px;
}
.buttons-uaqb-5 > .button-ejjZWC:hover,
.buttons-uaqb-5 > .buttonContainer-2lnNiN:hover,
.buttons-uaqb-5 > .button-ejjZWC:active,
.buttons-uaqb-5 > .buttonContainer-2lnNiN:active {
  background-color: var(--cyan-background-primary);
  box-shadow: var(--cyan-elevation-shadow);
}
.buttons-uaqb-5 > .button-ejjZWC,
.buttons-uaqb-5 > .buttonContainer-2lnNiN {
  border-radius: 8px;
  margin: 0;
  width: 44px;
  height: 44px;
  justify-content: center;
}
.buttons-uaqb-5 {
  height: 34px;
  margin-top: 5px;
}
.webkit-QgSAqd .buttons-uaqb-5 .button-ejjZWC {
  justify-content: center;
}
.webkit-QgSAqd .buttons-uaqb-5 .button-2fCJ0o,
.sidebarRegion-1VBisG .item-2GWPIy {
    color: var(--cyan-glass-foreground);
}
.webkit-QgSAqd .buttons-uaqb-5 .button-ejjZWC:hover .button-2fCJ0o,
.sidebarRegion-1VBisG .item-2GWPIy.selected-1sf9UK {
    color: var(--cyan-secondary-foreground);
}
.winButton-3UMjdg:hover {
  background-color: transparent !important;
}
.winButton-3UMjdg {
  width: 20px !important;
  height: 20px !important;
}
.withFrame-2dL45i {
  position: absolute !important;
  width: 100% !important;
  margin-top: 0;
  background-color: transparent;
  height: 10px;
  justify-content: flex-end !important;
}
.winButtonClose-3Q8ZH5 {
  order: 3 !important;
  margin-top: 10px !important;
  margin-left: 17px !important;
}
.winButtonMinMax-3RsPUg {
  order: 2 !important;
  margin-top: 10px !important;
}
.winButtonMinMax-3RsPUg:last-child {
  margin-top: 10px !important;
}
.winButtonClose-3Q8ZH5 > svg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 85.4 85.4' viewBox='0 0 85.4 85.4'%3E%3Cg clip-rule='evenodd' fill-rule='evenodd'%3E%3Cpath d='m42.7 85.4c23.6 0 42.7-19.1 42.7-42.7s-19.1-42.7-42.7-42.7-42.7 19.1-42.7 42.7 19.1 42.7 42.7 42.7z' fill='%23e24b41'/%3E%3Cpath d='m42.7 81.8c21.6 0 39.1-17.5 39.1-39.1s-17.5-39.1-39.1-39.1-39.1 17.5-39.1 39.1 17.5 39.1 39.1 39.1z' fill='%23ed6a5f'/%3E%3C/g%3E%3C/svg%3E") !important;
  background-size: contain !important;
}
.winButtonClose-3Q8ZH5 > svg > polygon,
.winButtonMinMax-3RsPUg > svg > rect {
  display: none !important;
}
.winButtonMinMax-3RsPUg > svg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 85.4 85.4' viewBox='0 0 85.4 85.4'%3E%3Cg clip-rule='evenodd' fill-rule='evenodd'%3E%3Cpath d='m42.7 85.4c23.6 0 42.7-19.1 42.7-42.7s-19.1-42.7-42.7-42.7-42.7 19.1-42.7 42.7 19.1 42.7 42.7 42.7z' fill='%232dac2f'/%3E%3Cpath d='m42.7 81.8c21.6 0 39.1-17.5 39.1-39.1s-17.5-39.1-39.1-39.1-39.1 17.5-39.1 39.1 17.5 39.1 39.1 39.1z' fill='%2361c555'/%3E%3C/g%3E%3C/svg%3E") !important;
  background-size: contain !important;
}
.winButtonMinMax-3RsPUg:last-child > svg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 85.4 85.4' viewBox='0 0 85.4 85.4'%3E%3Cg clip-rule='evenodd' fill-rule='evenodd'%3E%3Cpath d='m42.7 85.4c23.6 0 42.7-19.1 42.7-42.7s-19.1-42.7-42.7-42.7-42.7 19.1-42.7 42.7 19.1 42.7 42.7 42.7z' fill='%23e1a73e'/%3E%3Cpath d='m42.7 81.8c21.6 0 39.1-17.5 39.1-39.1s-17.5-39.1-39.1-39.1-39.1 17.5-39.1 39.1 17.5 39.1 39.1 39.1z' fill='%23f6be50'/%3E%3C/g%3E%3C/svg%3E") !important;
  background-size: contain !important;
}
.wordmark-2u86JB {
  display: none !important;
}
.svg-2ifYOU > foreignObject {
    mask: none !important;
}
.icon-3AqZ2e,
.folder-241Joy,
.folderIconWrapper-1oRIZr {
    border-radius: 50px;
}
.circleIconButton-1VxDrg {
    background: transparent !important;
}
.expandedFolderBackground-1kSAf6.collapsed-uGXEbi {
    opacity: 0;
}
.expandedFolderBackground-1kSAf6 {
    transition: .2s ease;
}
.expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi)::before {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    top: 0;
    left: -8px;
    background-color: var(--brand-600);
}
.accountProfileCard-lbN7n- {
  background-color: transparent !important;
  overflow: visible !important;
}
.background-3d_SjE {
  background-color: transparent;
  margin-top: 0;
  position: absolute;
  bottom: 0;
  width: calc(100% - 18px);
  padding: 15px;
  margin: 10px;
}
.fieldList-in8WkP {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  gap: 10px;
}
.fieldList-in8WkP > .field-21XZwa {
  margin-bottom: 0 !important;
}
.userInfo-regn9W > div:not([class]),
#my-account-tab .bannerSVGWrapper-2CLfzN,
.field-21XZwa {
  box-shadow: none !important;
  border-radius: 16px !important;
  border: 3px solid var(--cyan-accent-color) !important;
}
.field-21XZwa .fieldButton-14lHvK {
  border-radius: 16px !important;
}
.field-21XZwa:last-child {
  margin-right: 0 !important;
}
.field-21XZwa {
  width: 100%;
  border-radius: 8px;
  background-color: var(--cyan-background-secondary);
  max-height: none;
  flex-flow: column;
  padding: 15px;
  display: flex;
  margin-right: 0 !important;
  margin-top: 0 !important;
  position: relative;
  overflow-y: scroll;
  height: 125px;
  box-shadow: var(--cyan-elevation-shadow);
}
.field-21XZwa::-webkit-scrollbar {
  width: 0;
}
.field-21XZwa .fieldButton-14lHvK {
  background-color: var(--cyan-background-secondary) !important;
  border-radius: 6px !important;
  transition: 0.15s;
  right: 0 !important;
  position: initial !important;
  width: 100%;
  margin-right: 0;
  border: 1px solid var(--cyan-accent-color);
  align-self: center;
  justify-self: center;
}
.field-21XZwa .fieldButton-14lHvK:hover {
  background-color: var(--cyan-background-primary) !important;
  box-shadow: 0 0 0 1.5px var(--cyan-accent-color),
    0 2px 10px 0 rgb(0 0 0 / 60%);
}
.fieldButtonList-28BYbB {
  gap: 10px;
}
.field-21XZwa .fieldButton-14lHvK:hover > div {
  background-image: none !important;
}
.field-21XZwa .fieldButton-14lHvK:nth-child(1) {
  right: 5px;
}
.field-21XZwa .fieldButton-14lHvK {
  bottom: 10px;
  position: absolute;
}
.bannerSVGWrapper-2CLfzN {
  margin: 5px;
  width: calc(100% - 10px);
  border-radius: 12px;
  min-width: 330px !important;
}
.bannerSVGWrapper-2CLfzN > foreignObject {
  mask: none;
}
#my-account-tab .bannerSVGWrapper-2CLfzN > foreignObject {
  display: none !important;
}
#my-account-tab .bannerSVGWrapper-2CLfzN {
  min-height: 340px !important;
  background-image: var(--cyan-background-img);
  border-radius: 16px;
  box-shadow: var(--cyan-elevation-shadow);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.searchBar-3TnChZ {
  margin: 10px;
  padding: 12px 16px;
  height: fit-content;
}
.searchBarComponent-3N7dCG {
  padding: 0;
  font-size: 0 !important;
  position: relative;
  height: 20px !important;
  cursor: text !important;
}
.userInfo-regn9W > div:not([class]) {
  gap: 10px;
}
.searchBarComponent-3N7dCG::before {
  content: "";
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
  height: 20px;
  width: 20px;
  background-color: var(--header-primary);
  -webkit-mask-repeat: no-repeat;
  float: left;
  margin: 1px;
}
.searchBarComponent-3N7dCG::after {
  content: "Search...";
  line-height: 20px;
  width: fit-content;
  font-size: 16px;
  float: left;
  margin-left: 10px;
}
#app-mount .userInfo-regn9W > .button-ejjZWC {
  background-color: var(--cyan-background-primary) !important;
  box-shadow: none !important;
  border: 3px solid var(--cyan-accent-color) !important;
}
.userInfo-regn9W {
  padding: 16px 16px 0 30px;
}
.userInfo-regn9W {
  position: absolute;
  z-index: +1;
  top: 0;
  padding: 10px 10px 0 10px !important;
}
.userInfo-regn9W > div:not([class]),
#app-mount .userInfo-regn9W > .button-ejjZWC {
  background-color: var(--cyan-background-secondary) !important;
}
.userInfo-regn9W > div:not([class]) {
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--cyan-elevation-shadow);
  justify-content: center;
  align-items: center;
  display: flex;
  top: 25px;
  position: absolute;
  left: 25px;
  height: 100px;
  padding-left: 100px;
}
#app-mount .userInfo-regn9W > .button-ejjZWC {
  margin-top: 10px !important;
  position: absolute !important;
  right: 10px;
  padding: 10px !important;
  height: fit-content;
  width: fit-content;
  min-width: 38px !important;
  border-radius: 50px !important;
  box-shadow: var(--cyan-elevation-shadow);
}
.userTag-2qPxEZ {
  margin-bottom: 0 !important;
}
.accountProfileCard-lbN7n- {
  background-color: transparent !important;
  overflow: visible !important;
}
.userInfo-regn9W {
  position: absolute;
  z-index: +1;
  top: 0;
  padding: 10px 10px 0 10px !important;
}
.searchBar-3TnChZ {
  background-color: var(--cyan-background-secondary);
  box-shadow: var(--cyan-elevation-shadow);
  border-radius: 8px;
  margin: 5px 7px;
}
.tooltipPremiumFooterContainer-3Z8jwf {
  background: none !important;
}
.tooltipPremiumFooterTierSegment-24h1a0 {
  border: none !important;
}
.tooltipPointer-sMBQqe {
  display: none;
}
.tooltip-33Jwqe {
  box-shadow: 0 0 0 1.5px var(--cyan-accent-color),
    0 2px 10px 0 rgb(0 0 0 / 20%) !important;
  backdrop-filter: blur(var(--cyan-blur-radius)) !important;
  border-radius: 16px;
  background-color: var(--cyan-background-primary) !important;
}
.contentRegionScroller-2_GT_N.contentRegionShownSidebar-fHXkEg.auto-2K3UW5.scrollerBase-_bVAAt {
  justify-content: center;
}
.sidebarRegionScroller-FXiQOh {
  flex: none;
}
.sidebarRegion-1VBisG {
  justify-content: end;
}
.sidebarRegion-1VBisG .item-2GWPIy {
  border-radius: 8px !important;
  padding: 10px !important;
  overflow: visible;
}
@keyframes animatetabindicatorLeft {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
}
.sidebarRegion-1VBisG .selected-1sf9UK.item-2GWPIy::before {
  content: "";
  position: absolute;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  width: 4px;
  background-color: var(--cyan-accent-color);
  z-index: +3;
  border-radius: 4px;
  animation: animatetabindicatorLeft 0.4s ease;
}
.sidebarRegion-1VBisG .selected-1sf9UK.item-2GWPIy {
    background-color: var(--cyan-background-secondary) !important;
}
.wrapper-3HVHpV, .wrapper-15CKyy {
    background: none;
}
.container-2RRFHK {
  background-color: var(--cyan-background-secondary);
}
.container-2RRFHK::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 17em;
  background-color: var(--cyan-accent-color);
  -webkit-mask: url(https://dablulite.github.io/Cyan/cyan-bootup-mask.svg);
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}
.content-3AIQZv {
  display: none;
}
.container-2RRFHK::before {
  content: "Cyan";
  color: var(--header-primary);
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}
.channelTextArea-1VQBuV .divider-2rZFJK {
  display: none;
}
.channelAttachmentArea-HwpkuQ {
	border-top: 1px solid hsl(var(--primary-300-hsl)/0.3);
}
.upload-vLbqu- {
  border-radius: 10px !important;
  background-color: var(--cyan-background-primary) !important;
  box-shadow: var(--cyan-elevation-shadow);
}
.buttons-3dF5Kd {
  border-radius: 10px !important;
}
.buttons-3dF5Kd .button-3bklZh:hover,
.buttons-3dF5Kd .button-3bklZh.selected-69H4ua {
  background-color: var(--cyan-background-secondary);
  box-shadow: var(--cyan-elevation-shadow) !important;
}
.buttons-3dF5Kd .button-3bklZh {
  transition: 0.2s;
  border-radius: 50px !important;
}
.wrapper-2vIMkT {
  background-color: var(--cyan-background-secondary);
  box-shadow: var(--cyan-elevation-shadow) !important;
  border-radius: 50px !important;
  border: none;
  transition: 0.2s;
  height: fit-content;
  padding: 4px;
  gap: 4px;
  backdrop-filter: blur(var(--cyan-blur-secondary));
}
.menu-2TXYjN:not([id="account"]) {
  border-radius: 16px;
  box-shadow: var(--cyan-elevation-shadow);
  background-color: transparent;
  position: relative;
}
.menu-2TXYjN:not([id="account"])::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 17px;
  background-color: var(--cyan-background-primary);
  backdrop-filter: blur(8px);
}
.item-5ApiZt {
  padding: 12px;
  border-radius: 12px;
  width: 100%;
}
.menu-2TXYjN .scroller-nxCRu_ {
  padding: 6px !important;
  overflow-y: overlay !important;
}
.quickswitcher-pKcM9U {
  background-color: transparent !important;
  box-shadow: none !important;
}
.protip-1jXzAl {
  display: none;
}
.quickswitcher-pKcM9U > .input-3r5zZY {
  box-shadow: var(--cyan-elevation-shadow);
  backdrop-filter: blur(var(--cyan-blur-radius));
}
.quickswitcher-pKcM9U > .scroller-2qwVWY {
  overflow-y: overlay !important;
  padding: 12px !important;
  border-radius: 16px;
  box-shadow: var(--cyan-elevation-shadow);
  margin-right: 0 !important;
  background-color: var(--cyan-background-primary) !important;
  backdrop-filter: blur(var(--cyan-blur-radius));
}
.result-u66Ywh .content-vQY7Mf {
  padding: 8px;
  height: fit-content !important;
}
.quickswitcher-pKcM9U > .scroller-2qwVWY .result-u66Ywh {
  height: fit-content !important;
}
.backdrop-2ByYRN:has(~ .layer-fP3xEz .quickswitcher-pKcM9U) {
  background: transparent !important;
}
.root-1CAIjD:not(:has(> .quickswitcher-pKcM9U)):not(.modal-3Crloo):not(.carouselModal-1eUFoq) {
  overflow: hidden;
  border-radius: 16px;
  box-shadow: var(--cyan-elevation-shadow) !important;
  background-color: var(--cyan-background-secondary);
}
.quickswitcher-pKcM9U > .input-3r5zZY {
  text-align: center;
  box-shadow: var(--cyan-elevation-shadow);
  backdrop-filter: blur(var(--cyan-blur-radius));
  height: 50px;
  background-color: var(--cyan-background-primary);
  border-radius: 10px;
}
.quickswitcher-pKcM9U > .scroller-2qwVWY::-webkit-scrollbar {
  width: 0;
}
.quickswitcher-pKcM9U > .input-3r5zZY,
.quickswitcher-pKcM9U > .scroller-2qwVWY {
  backdrop-filter: brightness(0.5) blur(var(--cyan-blur-radius));
}
.quickswitcher-pKcM9U > .scroller-2qwVWY .result-u66Ywh {
  border-radius: 10px;
}
.quickswitcher-pKcM9U .result-u66Ywh[aria-selected="true"] {
  background-color: var(--cyan-background-primary);
}
.container-3XgAHv {
	background: var(--cyan-background-primary);
    box-shadow: var(--cyan-elevation-shadow);
    border-radius: var(--window-border-radius-calc);
    backdrop-filter: blur(var(--cyan-blur-radius));
	margin: calc(var(--window-margin) * 1px);
}
.chatContent-3KubbW {
	background: none;
}
.autocomplete-3NRXG8,
.autocompleteInner-y1mjDl {
  border-radius: 10px;
  background-color: var(--cyan-background-secondary);
}
.attachedBars-2BCP3l div .clipContainer-31nYlH {
  border-bottom: none;
  background-color: var(--cyan-background-secondary);
  border-radius: 8px;
  box-shadow: var(--cyan-elevation-shadow);
  margin-bottom: 4px;
}
.attachedBars-2BCP3l .replyBar-1oi75v {
  background-color: var(--cyan-background-secondary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.attachedBars-2BCP3l {
  background-color: var(--cyan-background-secondary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#app-mount .newMessagesBar-1hF-9G:hover {
  background-color: var(--cyan-background-primary);
  box-shadow: 0 0 0 1.5px var(--cyan-accent-color), 0 2px 10px 0 rgb(0 0 0 / 60%);
}
.newMessagesBar-1hF-9G > .barButtonMain-2GIx4o {
  display: none;
}
.newMessagesBar-1hF-9G > .barButtonAlt-TQoCdZ {
  padding-left: 6px !important;
  padding-right: 10px !important;
}
.newMessagesBar-1hF-9G > .barButtonAlt-TQoCdZ > .barButtonIcon-bMvzp2 {
  transform: scale(1.3);
}
.newMessagesBar-1hF-9G > .barButtonAlt-TQoCdZ {
  font-size: 0 !important;
}
.newMessagesBar-1hF-9G > .barButtonMain-2GIx4o {
  border-right: 1px solid var(--brand-experiment);
}
.newMessagesBar-1hF-9G {
  background-color: var(--cyan-background-floating);
  width: fit-content !important;
  border: 1px solid var(--cyan-accent-color) !important;
  border-top: 1px solid var(--cyan-accent-color) !important;
  height: 40px !important;
  top: unset !important;
  bottom: 20px !important;
  border-radius: 50% !important;
  left: 10px !important;
  padding: 4px;
  transition: 0.2s;
  backdrop-filter: blur(var(--cyan-blur-radius));
}
.sidebarRegion-1VBisG {
	width: fit-content;
	justify-content: start;
	flex: none;
}
.contentColumn-1C7as6,
.customColumn-2n-oKU {
  max-width: 100% !important;
}
.avatar-3mTjvZ {
  left: 35px;
  top: 35px;
  z-index: +1;
}
.lookFilled-1H2Jvj.colorBrand-2M3O3N {
	background-color: var(--cyan-background-secondary);
	border-radius: 8px;
	border: 1px solid var(--brand-600);
	transition: .2s;
}
.lookFilled-1H2Jvj.colorBrand-2M3O3N:hover {
	background-color: var(--cyan-background-secondary);
	box-shadow: var(--cyan-elevation-shadow);
}
.lookOutlined-3RTC7c.colorRed-2VFhM4,
.lookFilled-1H2Jvj.colorRed-2VFhM4 {
	background-color: var(--cyan-background-secondary);
	border-radius: 8px;
	transition: .2s;
	border: 1px solid var(--red-600);
}
.lookOutlined-3RTC7c.colorRed-2VFhM4:hover,
.lookFilled-1H2Jvj.colorRed-2VFhM4:hover {
	background-color: var(--cyan-background-secondary);
	box-shadow: 0 0 0 1.5px var(--red-500), 0 2px 10px 0 rgb(0 0 0 / 60%);
}
.closeButton-PCZcma {
  border: none;
  background-color: var(--cyan-background-secondary);
  transition: .2s;
}
.closeButton-PCZcma:hover {
  box-shadow: var(--cyan-elevation-shadow);
}
.contentRegionScroller-2_GT_N:has(#customcss-tab) .toolsContainer-25FL6V .closeButton-PCZcma {
  width: 34px;
  height: 34px !important;
  min-height: 34px;
  box-sizing: border-box;
  flex: 0 1;
}
.closeButton-PCZcma ~ .keybind-13vtq8 {
  display: none;
}
.contentRegionScroller-2_GT_N:has(#customcss-tab) .toolsContainer-25FL6V {
  position: absolute;
  right: -10px;
  padding: 0;
  margin: 0;
  z-index: 600;
  top: 32px;
}
div[aria-label="dablulite"] .profileBadges-2pItdR::after {
  content: "";
  height: 22px;
  width: 22px;
  background-color: var(--cyan-accent-color);
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-palette-fill' viewBox='0 0 16 16'%3E%3Cpath d='M12.433 10.07C14.133 10.585 16 11.15 16 8a8 8 0 1 0-8 8c1.996 0 1.826-1.504 1.649-3.08-.124-1.101-.252-2.237.351-2.92.465-.527 1.42-.237 2.433.07zM8 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm4.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z'/%3E%3C/svg%3E");
  -webkit-mask-size: 16px;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  cursor: pointer;
}
div[aria-label="dablulite"] .markup-eYLPri a {
  font-size: 0;
  height: 42px;
  display: flex;
  margin-bottom: 8px;
  text-decoration: none !important;
}
div[aria-label="dablulite"] .markup-eYLPri a::after {
  content: attr(title);
  font-size: 14px;
  color: var(--header-primary);
  padding: 11px 16px;
  border-radius: 8px;
  height: fit-content;
  width: 100%;
  border: 1px solid var(--cyan-accent-color);
  font-weight: 500;
  display: flex;
  justify-content: center;
  transition: 0.15s;
  margin: 4px;
  box-sizing: border-box;
}
div[aria-label="dablulite"] .markup-eYLPri .anchor-1X4H4q:hover::after {
  box-shadow: var(--cyan-elevation-shadow);
}
div[aria-label="dablulite"] .markup-eYLPri,
div[aria-label="dablulite"] .markup-eYLPri > .lineClamp2Plus-2SCQmH {
  max-height: unset;
  height: fit-content;
}
.profileBadges-2pItdR,
.badgeList-2aoHPw {
  z-index: +2;
  right: 24px;
  top: 16px;
  border: 2px solid var(--cyan-accent-color);
  border-radius: 25px !important;
  background-color: var(--cyan-background-elevated);
}
.userProfileOuterThemed-2BgJCM .customStatusSection-2_fKRl,
.userProfileOuterThemed-2BgJCM .usernameSection-3FppkT,
.userProfileOuterThemed-2BgJCM .profileBadges-2pItdR {
  border-color: var(--profile-gradient-primary-color);
}
#app-mount .profileBadges-2pItdR:empty {
  background-color: transparent;
  box-shadow: none;
  border: none !important;
}
.userProfileModalOuter-2wdWjU > .userProfileInnerThemedNonPremium-2AJg-H .overlayBackground-2aa7wt::before {
  content: none;
}
.bannerSVGWrapper-2CLfzN > foreignObject {
  mask: none;
  pointer-events: none;
}
.headerText-3g1XK9,
.eyebrow-1Shfyi,
.eyebrow-2wJAoF {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid currentColor;
  width: fit-content;
  overflow: visible;
}
.userPopoutOuter-1OHwPL > .userProfileInnerThemedNonPremium-2AJg-H::after {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0, 0.4);
  height: calc(100% - 8px);
  width: 332px;
  margin: 4px;
  border-radius: 12px;
}
.userPopoutOuter-1OHwPL > .userProfileInnerThemedNonPremium-2AJg-H > .bannerSVGWrapper-2CLfzN:not(:has(.popoutBannerPremium-3i5EEI)) {
  margin: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 340px;
  position: absolute;
}
.userPopoutOuter-1OHwPL > .userProfileInnerThemedNonPremium-2AJg-H:not(:has(.popoutBannerPremium-3i5EEI)) > .avatarWrapper-eenWra {
  position: relative;
  width: 80px;
  z-index: +1;
}
.userPopoutOuter-1OHwPL > .userProfileInnerThemedNonPremium-2AJg-H > .userPopoutOverlayBackground-3A0Pcz {
  z-index: +1;
  background-color: transparent;
}
.userPopoutOuter-1OHwPL > .userProfileInnerThemedNonPremium-2AJg-H > .bannerSVGWrapper-2CLfzN > foreignObject:not(:has(.popoutBannerPremium-3i5EEI)) {
	scale: 500;
	transform: translateY(-50%);
}
.userProfileModalOuter-2wdWjU
  > .userProfileInnerThemedNonPremium-2AJg-H
  .overlayBackground-2aa7wt {
  z-index: +3;
  overflow: visible !important;
}
.userProfileModalOuter-2wdWjU
  > .userProfileInnerThemedNonPremium-2AJg-H
  .body-1Ukv50 {
  margin: 0;
  width: 100%;
  border-radius: 16px;
  position: initial;
  z-index: +2;
}
.avatarWrapperNormal-ahVUaC .wrapper-3Un6-K {
  overflow: visible;
}
.avatarWrapperNormal-ahVUaC .wrapper-3Un6-K::after {
  content: "";
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: var(--cyan-background-secondary);
  display: flex;
  position: absolute;
  bottom: -1px;
  right: -1px;
  z-index: -1;
}
.avatarWrapperNormal-ahVUaC {
  background-color: var(--cyan-background-secondary);
  box-shadow: 0 0 0 5px var(--cyan-background-secondary);
	z-index: +1
}
.userPopoutOuter-1OHwPL {
	border-radius: 14px;
}
.usernameSection-3FppkT {
	border-radius: 16px;
	border: 3px solid var(--cyan-accent-color);
	background-color: rgba(0,0,0,.4);
}
.customStatusSection-2_fKRl {
	border-radius: 0 0 16px 16px;
	border: 3px solid var(--cyan-accent-color);
	border-top: none;
	padding-bottom: 12px;
	background-color: rgba(0,0,0,.4);
}
.usernameSection-3FppkT:not(:has(+.customStatusSection-2_fKRl)) {
	padding-bottom: 12px;
}
.usernameSection-3FppkT:has(+.customStatusSection-2_fKRl) {
	border-bottom: none;
	border-radius: 16px 16px 0 0;
}
.jumpToPresentBar-1cEnH0 > .barButtonMain-2GIx4o {
  display: none;
}
.jumpToPresentBar-1cEnH0 > .barButtonAlt-TQoCdZ > .barButtonIcon-bMvzp2 {
  margin-left: 0;
  transform: scale(1.3);
}
.jumpToPresentBar-1cEnH0 > .barButtonAlt-TQoCdZ {
  padding: 0 4px;
}
.jumpToPresentBar-1cEnH0 {
  margin-bottom: 20px !important;
  left: unset !important;
  right: 0;
  border-radius: 50px !important;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--cyan-accent-color);
  width: fit-content !important;
  transform: translateX(-50%) !important;
  backdrop-filter: blur(var(--cyan-blur-radius));
  transition: .2s ease;
}
.jumpToPresentBar-1cEnH0:hover {
    background-color: var(--cyan-background-primary);
    box-shadow: var(--cyan-elevation-shadow);
}
.submenuPaddingContainer-_k62dJ {
  padding: 0 !important;
}
.submenuPaddingContainer-_k62dJ > .submenu-1apzyU {
  left: 0 !important;
}
.jumpToPresentBar-1cEnH0 > .barButtonMain-2GIx4o {
  border-right: 1px solid var(--brand-experiment);
}
.jumpToPresentBar-1cEnH0 .barButtonAlt-TQoCdZ {
  font-size: 0;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background: none;
}
.bg-1QIAus, .layer-86YKbF {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.categoryText-3B1jLN {
    width: fit-content;
    height: fit-content;
    padding: 4px 12px;
    border-radius: 8px;
    box-shadow: var(--cyan-elevation-shadow);
    background-color: var(--cyan-background-secondary);
    margin-top: auto;
    margin-bottom: 8px;
    margin-left: 8px;
}
.avatarWrapperNormal-ahVUaC .wrapper-3Un6-K::after {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border-bottom-right-radius: 24px;
    bottom: -5px;
    right: -5px;
}
.avatar-3QF_VA::after {
    content: "";
    position: absolute;
    background-color: var(--cyan-background-secondary);
    width: 136px;
    height: 136px;
    border-radius: 136px;
    border-bottom-right-radius: 48px;
    bottom: -8px;
    right: -8px;
    z-index: -1;
}
.avatar-3QF_VA {
    z-index: +1;
}
.userPopoutInner-nv9Y92::before {
    border-radius: 12px;
}
