@theme {
    --color-primary-50: #e7e9e9;
    --color-primary-100: #d2d5d5;
    --color-primary-200: #a3a8a8;
    --color-primary-300: #777e7e;
    --color-primary-400: #4a4f4f;
    --color-primary-500: #202222;
    --color-primary-600: #191a1a;
    --color-primary-700: #141515;
    --color-primary-800: #0c0d0d;
    --color-primary-900: #070808;
    --color-primary-950: #020303;
    --color-bg-secondary: #1c1e21;
    --color-tertiary-50: #ecedee;
    --color-tertiary-100: #dcdde0;
    --color-tertiary-200: #b8bbc1;
    --color-tertiary-300: #9599a3;
    --color-tertiary-400: #727883;
    --color-tertiary-500: #53575f;
    --color-tertiary-600: #323439;
    --color-tertiary-700: #141517;
    --color-tertiary-800: #0e0f10;
    --color-tertiary-900: #070708;
    --color-tertiary-950: #020203;
    --color-accent-50: #e6f4e7;
    --color-accent-100: #cae8cb;
    --color-accent-200: #94d197;
    --color-accent-300: #62bb67;
    --color-accent-400: #3f9243;
    --color-accent-500: #285d2b;
    --color-accent-600: #204b22;
    --color-accent-700: #19391a;
    --color-accent-800: #0f2410;
    --color-accent-900: #081208;
    --color-accent-950: #050b05;
    --font-logo: "Edu AU VIC WA NT Hand";
    --custom-avatar-avatar-decoration-border-position: calc((1 - var(--decoration-to-avatar-ratio)) / 2 * 100%);
    --custom-button-button-xl-width: 148px;
    --custom-button-button-xl-height: 50px;
    --custom-button-button-lg-width: 130px;
    --custom-button-button-lg-height: 44px;
    --custom-button-button-md-width: 96px;
    --custom-button-button-md-height: 38px;
    --custom-button-button-sm-width: 60px;
    --custom-button-button-sm-height: 32px;
    --custom-button-button-tn-height: 24px;
    --custom-button-button-tn-width: 52px;
    --custom-button-link-underline-width: 1px;
    --custom-button-link-underline-offset: 1px;
    --custom-button-link-underline-stop: calc(var(--custom-button-link-underline-width) + var(--custom-button-link-underline-offset));
    --custom-button-filled-hover: 0.1;
    --custom-button-filled-active: 0.2;
    --custom-button-transition-duration: 170ms;
    --custom-modal-min-width-large: 800px;
    --animate-notification: notification 0.3s ease;
    --animate-modal: show-modal 0.4s ease;
}