#app-mount .winButton-3UMjdg > svg {
    background-image: none !important;
}
#app-mount .winButton-3UMjdg > svg > * {
    fill: currentColor !important;
    display: -webkit-box !important;
    transform: scale(1.3);
    transform-origin: center;
}
#app-mount .winButtonMinMax-3RsPUg:nth-of-type(3) > svg > * {
    fill: transparent !important;
}
#app-mount .winButton-3UMjdg {
    order: unset !important;
    margin-top: calc((var(--window-margin) * 2px)) !important;
    height: 48px !important;
    width: 64px !important;
    margin-left: 5px !important;
    transition: .3s !important;
    border-radius: var(--window-border-radius);
    top: 0;
}
.winButtonClose-3Q8ZH5 {
    margin-left: 5px !important;
    margin-right: calc((var(--window-margin) * 2px)) !important;
}
#app-mount .winButton-3UMjdg:hover {
    background-color: var(--cyan-background-secondary) !important;
    box-shadow: var(--cyan-elevation-shadow);
}
#app-mount .typeWindows-2-g3UY {
    justify-content: end !important;
}
.container-ZMc96U {
    margin-right: calc((64px * 3) + (var(--window-margin) * 2px));
    width: calc(100% - ((var(--window-margin) * 2px) * 2) - ((64px * 3))) !important;
}
.platform-win .container-1eFtFS::before, .platform-osx .container-1eFtFS::before {
    height: calc((100% - ((var(--window-margin) * 1px)) * 2)) !important;
}
.platform-win #app-mount .guilds-2JjMmN {
    margin-top: calc(var(--window-margin) * 1px) !important;
    height: calc((100% - ((var(--window-margin) * 1px)) * 2)) !important;
}
.platform-win .sidebar-1tnWFu {
    margin-top: calc(var(--window-margin) * 1px) !important;
}
#customcss-tab {
    padding-right: calc((59px*3) + 21px);
}
