/**
 * @name macOS Buttons (for Nexus only)
 * @description macOS Titlebar Buttons (Nexus Version)
 * @author DaBluLite
 * @version 1.0.0
 */
 
.winButtonClose-3Q8ZH5 {
  order: 3 !important;
  margin-top: 10px !important;
  margin-left: 17px !important;
}
.winButtonMinMax-3RsPUg[aria-label="Maximize"] {
  order: 2 !important;
  margin-top: 10px !important;
}
.winButtonMinMax-3RsPUg[aria-label="Minimize"] {
  margin-top: 10px !important;
}
.winButtonClose-3Q8ZH5 > svg {
  background-image: url(https://github.com/AI-ien/macos-titlebar/raw/main/assets/titlebutton-close%402.png) !important;
  background-size: contain !important;
}
.winButtonClose-3Q8ZH5 > svg > polygon {
  display: none !important;
  fill: transparent !important;
}
.winButtonMinMax-3RsPUg[aria-label="Maximize"] > svg {
  background-image: url(https://github.com/AI-ien/macos-titlebar/raw/main/assets/titlebutton-maximize%402.png) !important;
  background-size: contain !important;
}
.winButtonMinMax-3RsPUg[aria-label="Minimize"] > svg {
  background-image: url(https://github.com/AI-ien/macos-titlebar/raw/main/assets/titlebutton-minimize%402.png) !important;
  background-size: contain !important;
}
.winButtonMinMax-3RsPUg > svg > rect {
  display: none !important;
  fill: transparent !important;
}
.winButton-3UMjdg:hover {
  background-color: transparent !important;
}
.winButton-3UMjdg {
  width: 20px !important;
  height: 20px !important;
}
.guilds-2JjMmN {
  height: calc(100% - 42px) !important;
  margin-top: 32px !important;
}
.typeWindows-2-g3UY {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}
.platform-win .closeButton-30b1gR {
  margin-right: 0 !important;
}
.platform-win .container-ZMc96U {
  width:calc(100% - 20px) !important;
}
.platform-win .title-31SJ6t {
  width: calc(100% - 20px) !important;
}
.wordmark-2u86JB {
  display: none !important;
}
