.winButton-3UMjdg:not(:hover) > svg {
    background-color: var(--cyan-background-primary) !important;
    background-size: 0 !important;
    border-radius: 50% !important;
    backdrop-filter: blur(var(--cyan-blur-radius)) !important;
}
