#app-mount .winButton_a934d8:not(:hover) > svg {
    background-color: var(--cyan-background-primary) !important;
    backdrop-filter: blur(var(--cyan-blur-radius)) !important;
    border-color: transparent;
    transition: .2s ease;
}
