.platform-win .chat__52833,
.platform-osx .chat__52833,
.platform-win .container__5c7e7,
.platform-osx .container__5c7e7,
.platform-win .applicationStore_fc7d76,
.platform-osx .applicationStore_fc7d76,
.platform-win .noChannel__7bbff,
.platform-osx .noChannel__7bbff,
.platform-win .pageWrapper_fef757,
.platform-osx .pageWrapper_fef757 {
    margin-top: calc(var(--window-margin) * 1px) !important;
}
#app-mount .app_de4237 .guilds__2b93a {
    margin-top: calc((var(--window-margin) * 1px) + 60px) !important;
    height: calc((100% - ((var(--window-margin) * 1px)) * 2) - 60px) !important;
}
#app-mount .sidebar_ded4b5 {
    margin-top: calc((var(--window-margin) * 1px) + 60px) !important;
}
.platform-win .container__037ed::before {
    height: calc((100% - ((var(--window-margin) * 1px)) * 2) - 60px) !important;
}
.title_b7d661, .container__11d72 {
    padding-right: 8px !important;
}
#app-mount .container__11d72 {
    margin-right: calc(var(--window-margin) * 1px) !important;
    width: calc(100% - (var(--window-margin) * 2px)) !important;
}
.platform-win #app-mount .sidebar_ded4b5 {
    margin-top: calc((var(--window-margin) * 2px) + 48px) !important;
}
.platform-win #app-mount .container__037ed::before {
    height: calc((100% - (var(--window-margin) * 3px)) - 48px) !important;
}
#app-mount .winButton__88672 {
    margin-top: calc((var(--window-margin) * 1px)) !important;
}
#app-mount .winButtonClose__73489 {
    margin-right: calc((var(--window-margin) * 1px)) !important;
}
