.popout_af3b89 {
    @apply cyan:!rounded-large cyan:!raised-interface-large cyan:use-blur cyan:shadow-cyan
}

.vc-notification-root {
    @apply cyan:!rounded-large cyan:!raised-interface-large cyan:use-blur cyan:shadow-cyan cyan:!h-fit cyan:!min-h-[unset]
}

.vc-notification {
    @apply cyan:p-3
}

.lookFilled__3f413.popout__3f413,
.lookFilled__3f413.popout__3f413.popoutPositionTop__3f413,
.popout__3f413,
.popout__3f413.popoutPositionTop__3f413 {
    @apply cyan:raised-interface-large cyan:shadow-cyan cyan:use-blur cyan:rounded-large cyan:!p-1 cyan:gap-1
}

.selectedIcon__3f413 {
    @apply cyan:text-accent-500
}

.option__3f413 {
    @apply cyan:rounded-medium cyan:use-transition cyan:[[aria-selected="true"]]:shadow-glass
}

.container_cdb3b1 {
    @apply cyan:raised-interface-large cyan:shadow-cyan cyan:rounded-xl cyan:use-blur
}

.container_cdb3b1:after {
    @apply cyan:border-t-second-layer-thin-active
}

.bar__7aaec {
    @apply  cyan:!rounded-medium cyan:!btn cyan:!shadow-cyan cyan:use-blur cyan:px-4 cyan:py-2
}