.theme-dark .sidebarRegionScroller__1fa7e,
.theme-dark .searchResultsWrap__9f374,
.theme-dark .callContainer_cbde45 {
    background: var(--bg-overlay-3,var(--cyan-background-secondary));
}
.theme-light .sidebarRegionScroller__1fa7e,
.theme-light .searchResultsWrap__9f374,
.theme-light .callContainer_cbde45 {
    background: var(--bg-overlay-2,var(--cyan-background-secondary));
}
.theme-dark .callContainer_cbde45 {
    background: var(--bg-overlay-1,var(--cyan-background-secondary)) !important;
}
.theme-light .callContainer_cbde45 {
    background: var(--bg-overlay-1,var(--cyan-background-secondary)) !important;
}
.pageWrapper_fef757,
.homeWrapper__59a03,
.contentRegionScroller__86c79,
.container__037ed::before {
    background: var(--bg-overlay-chat,var(--cyan-background-primary));
}
.homeWrapper__59a03 > .headerBar_afb1ac,
.homeWrapper__59a03 > .scroller__244e5 {
    background: none;
}
.custom-theme-background .searchHeader__19d87 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.theme-dark.custom-theme-background .contentRegionShownSidebar__610ed::-webkit-scrollbar-thumb,
.theme-dark.custom-theme-background .scroller-3j5xK2::-webkit-scrollbar-thumb,
.theme-dark.custom-theme-background .sidebarRegionScroller__1fa7e::-webkit-scrollbar-thumb {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))),to(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)),rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))),var(--custom-theme-background);
}
.theme-dark.custom-theme-background .contentRegionShownSidebar__610ed::-webkit-scrollbar-track,
.theme-dark.custom-theme-background .scroller-3j5xK2::-webkit-scrollbar-track {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/.4)),to(rgb(var(--bg-overlay-color)/.4))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color)/.4),rgb(var(--bg-overlay-color)/.4)),var(--custom-theme-background);
}
.theme-light.custom-theme-background .contentRegionShownSidebar__610ed::-webkit-scrollbar-thumb,
.theme-light.custom-theme-background .scroller-3j5xK2::-webkit-scrollbar-thumb,
.theme-light.custom-theme-background .sidebarRegionScroller__1fa7e::-webkit-scrollbar-thumb {
    background-size: 100vh;
    background-image: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3));
}
.theme-light.custom-theme-background .contentRegionShownSidebar__610ed::-webkit-scrollbar-track,
.theme-light.custom-theme-background .scroller-3j5xK2::-webkit-scrollbar-track {
    background-size: 200vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))),to(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)))),var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))),var(--custom-theme-background);
}
.privateChannels__93473,
.searchBarComponent__22760,
.searchBar_ff8800,
.custom-theme-background .folder__17546 {
    background: none !important;
}
