/**
 * @name CyanColorways
 * @description Theme that enables compatibility between Cyan and DiscordColorways
 * @author DaBluLite#7409
 * @authorId 582170007505731594
 * @version 1.0.0
 * @source https://github.com/DaBluLite/Cyan
 * @invite ZfPH6SDkMW
 */


:root {
    --cyan-background-primary: hsla(var(--primary-700-hsl) / 40%) !important;
    --cyan-accent-color: hsl(var(--brand-500-hsl)) !important;
}
.theme-dark #app-mount .lookFilled__19298.colorBrand_b2253e {
    color: #fff !important;
}
.theme-dark #app-mount .ColorwaySelectorBtn > div {
    background-color: #fff !important;
}
.ColorwaySelectorBtn {
    background-color: var(--cyan-background-secondary) !important;
    border-radius: 50% !important;
    box-shadow: 0 0 0 1.5px var(--cyan-background-primary), 0 2px 10px 0 rgb(0 0 0 / 20%) !important;
}
.ColorwaySelectorBtn:hover {
    box-shadow: 0 0 0 1.5px var(--cyan-accent-color), 0 2px 10px 0 rgb(0 0 0 / 20%) !important;
}
