.container__037ed::before {
    box-shadow: var(--light-elevation-border);
    background-color: transparent;
    backdrop-filter: none;
    transition: .6s;
    width: calc(82px - (var(--window-margin) * 1px));
}
.container__037ed:has(.guilds__2b93a:hover, .sidebar_ded4b5:hover)::before {
    box-shadow: var(--cyan-elevation-shadow);
    background-color: var(--cyan-background-primary);
    backdrop-filter: blur(var(--cyan-blur-radius));
    width: calc(320px + ((82px - (var(--window-margin) * 1px))));
}
.sidebar_ded4b5 {
    width: 0;
    transition: .6s;
    opacity: 0;
}
.guilds__2b93a:hover + .base__3e6af .sidebar_ded4b5, .sidebar_ded4b5:hover {
    width: 320px;
    opacity: 1;
}
.guilds__2b93a {
    opacity: .5;
}
.guilds__2b93a:hover {
    opacity: 1;
}
