.itemsContainer_ef3116,
.wrapper_ef3116,
.members_c8ffbb,
.container_c8ffbb,
.chatContent_f75fb0,
.root_bfe55a,
.wrapper_cb9592,
.container__2637a,
.member_c8ffbb,
.wrapper_d852db,
.wrapper_fc8177,
.tabBody__133bf,
.container__7d20c,
.nowPlayingColumn__133bf,
.allPerksScroller_ca1a02,
.mainPageScroller_ca1a02,
.standardSidebarView__23e6b,
.contentRegion__23e6b,
.sidebarRegionScroller__23e6b,
.contentRegionScroller__23e6b,
.privateChannels__35e86,
.dc-app-root,
.channelAttachmentArea_b77158,
.scroller__4a84a,
.scroller_fb04e1,
.outer_c0bea0,
.outer_c0bea0.custom-user-profile-theme .inner_c0bea0,
.quickswitcher_ac6cb0 .scroller_ac6cb0,
.container_fed6d3,
.wrapper__4e6ce,
.picker__09f65,
.soundButtonWrapper__9be63,
.backdrop__8a7fc,
.gradient_e9ef78,
.container__551b0,
.innerContainer_e1147e .scroller__23746,
.container_d08938 .scroller__23746,
.container__955a3 .scroller__23746,
.relative__8a7fc,
.body_c6f1a4,
.wrapper__4106a,
.container_cec934 .container__956c6,
.container_da4aee,
.textContainer_da4aee,
.header_ab6641,
.container__0f711,
.channelHeader__35a7e,
.container_f369db,
.navRow__86e92,
.authBox__921c5,
.popoutContentWrapper_af3b89,
.interactionsContainer_af3b89,
.content_a8c622 {
  @apply cyan:!no-bg
}