:root {
	--cyan-interface-shadow: 0 4px 10px 0 rgb(0 0 0 / 40%);
	--cyan-font: 'Montserrat', 'Open Sans';
	--cyan-background-img: url("https://github.com/DaBluLite/Cyan/blob/next/cyan-ocean-waves.png?raw=true");
	--cyan-accent-color: #009f88;
	--cyan-blur: 16px;
    --cyan-channelbar-width: 320px;
    --cyan-version: 25;
    --cyan-subversion: 6;
    --cyan-patch-version: 21;
    --cyan-loading-header: "Getting up to speed...";
}

.theme-dark,
.theme-dark .theme-light {
    @apply cyan:use-dark-vars
}

.theme-light {
    @apply cyan:use-light-vars
}

.theme-darker,
.theme-darker .theme-light {
    @apply cyan:use-darker-vars
}

.theme-midnight,
.theme-midnight .theme-light {
    @apply cyan:use-black-vars
}