@utility bgp-* {
  background: --value(--color- *);
}

@utility border-faint {
  border: 1px solid var(--border-faint);
}

@utility border-subtle {
  border: 1px solid var(--border-subtle);
}

@utility no-bg {
  background: none;
}

@utility ui-primary {
  @apply cyan:!bgp-white cyan:dark:!bgp-primary-500 cyan:darker:!bgp-primary-700 cyan:black:!bgp-black;
}

@utility ui-secondary {
  @apply cyan:!bgp-primary-100 cyan:dark:!bgp-primary-600 cyan:darker:!bgp-primary-800 cyan:black:!bgp-primary-800;
}

@utility use-wallpaper {
  background-image: var(--cyan-background-img);
  background-size: cover;
}

@utility region-drag {
  -webkit-app-region: drag;
}

@utility region-no-drag {
  -webkit-app-region: no-drag;
}

@utility invis-btn {
  @apply cyan:transition cyan:duration-200 cyan:ease-in-out cyan:bg-transparent cyan:hover:bg-second-layer-thin-hover cyan:active:bg-second-layer-thin-active cyan:border cyan:border-transparent cyan:hover:border-faint
}

@utility btn {
  @apply cyan:transition cyan:duration-200 cyan:ease-in-out cyan:bg-second-layer-thin cyan:hover:bg-second-layer-thin-hover cyan:active:bg-second-layer-thin-active cyan:border cyan:border-faint
}

@utility raised-interface {
  @apply cyan:bg-second-layer-thin cyan:border cyan:border-faint
}

@utility embed {
  @apply cyan:bg-second-layer-thin cyan:border-r cyan:border-t cyan:border-b cyan:border-t-faint cyan:border-b-faint cyan:border-r-faint
}

@utility raised-interface-large {
  @apply cyan:bg-second-layer-thin cyan:border cyan:border-subtle
}